body {
    background-color: aliceblue;
}

h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu-lista {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; 
    background-color: #000000; /* Color de fondo para verlo mejor */
}

/* Estilo para los elementos del menú */
.menu-lista li a {
    display: block;
    padding: 15px 20px;
    color: #ffffff;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Efecto al pasar el mouse */
.menu-lista li a:hover {
    background-color: #ffffff;
    color: #000000;
}

.bienvenidos {
    margin-top: 20px;
}

.subtitulo {
    text-align: center;
}

footer {
    text-align: center;
}

.boton-encuesta {
    border-radius: 10px;
    background-color: #5A7F78;
    color: #F7F8FC;
    padding: 5px 20px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: solid 1px black;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
     text-decoration: none;
}
.boton-encuesta:hover {
    background-color: #314c53;
    transform: translateY(-2px); 
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.contacto-legend {
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.form-container {
    background-color: #ffffff;
    max-width: 500px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

/* Botón de enviar basado en tu estilo previo */
.btn-enviar {
    width: 100%;
    background-color: #5A7F78;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    margin-top: 10px;
}

.btn-enviar:hover {
    background-color: #314c53;
    transform: translateY(-2px);
}

.btn-enviar:active {
    transform: translateY(0);
}

